< <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="images/bodyattack.jpg">
            <span class="card-title">Bodyattack</span>
          </div>
          <div class="card-content">
            <p>BODYATTACK je trening koji aktivira celo telo. 
               Sagoreva ogroman broj kalorija, a istovremeno unapreduje koordinaciju i pokretljivost. 
               Zahvaljujuci ovom treningu – sve što radiš, radiceš poletnije i brže.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="images/bodybalance.jpg">
            <span class="card-title">Bodybalance</span>
          </div>
          <div class="card-content">
            <p>BODYBALANCE je trening koji kombinuje elemente Yoge, Pilatesa i Tai-Chi-a.
               Zahvaljujući insistiranju na dubokom disanju, kao i serijama istezanja, pokreta i položaja
               biranih tako da budu savršeno kompatibilni sa muzikom koja ih prati, vežbači sa ovog treninga
               odlaze smireni, fokusirani i opušteni.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="images/bodycombat.jpg">
            <span class="card-title">Bodycombat</span>
          </div>
          <div class="card-content">
            <p>BODYCOMBAT je moćni trening tokom kog se osećate potpuno oslobođenim.
               Inspirisan je borilačkim veštinama poput karatea, tekvondoa, kik boksa, tai čija.

              Podržan je sjajnim instruktorima i odličnom muzikom te ćete udaranjem, šutiranjem i izvođenjem
              kata proći kroz sjajan kardio trening i izgubiti mnoštvo kalorija.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="images/lesmillssprint.jpg">
              <span class="card-title">Les Mills Sprint</span>
            </div>
            <div class="card-content">
              <p>
                  LES MILLS SPRINT je visoko intenzivni intervalni trening koji koristi 
                  stacionarni bicikl za postizanje maksimalnog intenziteta. 
                  To je brz i intenzivan način treniranja sa kojim brzo postižete rezultate.

                  Iako traje samo 30 minuta, LES MILLS SPRINT testira fizičke i mentalne sposobnosti
                  vožnjom kroz eksploziju intenziteta gde daješ svoj maksimum, nakon čega sledi pauza
                  u kojoj se pripremaš za sledeći intenzivni interval. Rezultat toga jeste i činjenica
                  da organizam sagoreva kalorije i satima nakon treninga.
                </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s4">
            <div class="card">
              <div class="card-image">
                <img src="images/trxstrong.jpg">
                <span class="card-title">TRX Strong</span>
              </div>
              <div class="card-content">
                <p>
                    TRX Strong je trening umerenog do visokog intenziteta,
                    sa fokusom na maksimalno pravilnu tehniku, amplitude pokreta
                    i vežbe koje povećavaju snagu i mišićnu masu. Vežbe su isključivo
                    na TRX-u i velika je mogućnost prilagođavanja tako da na ovom treningu
                    mogu učestvovati svi, od potpunih početnika do iskusnih vezbača.
                  </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
          <div class="col s4">
              <div class="card">
                <div class="card-image">
                  <img src="images/trxflow.jpg">
                  <span class="card-title">TRX Flow</span>
                </div>
                <div class="card-content">
                  <p>
                      Trening za povećanje pokretljivosti.

                      Spoj joge i pilatesa na TRX-u, idealan za vezbače koji nisu fleksibilni
                      jer TRX daje veliku mogućnost prilagođavanja i postepenog napredovanja.
                      Najveća prednost TRX Flow programa je smanjenje bola u leđima, sprečavanje
                      povreda kod visokointenzivnih treninga ili treninga sa velikim opterećenjem. 
                    </p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
    </div>

   
  
  
 
  