<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
          <mat-icon aria-label="material-icons">fitness_center</mat-icon>
          Fitnes centar Lidija
      </span>
      
      <span class="spacer"></span>
      <a mat-list-item href="./src\index.html">Pocetna</a>
        <a mat-list-item href="#">Clanstvo</a>
        <a mat-list-item href="#">Treninzi</a>
        <a mat-list-item href="#">Raspored</a>
        <a mat-list-item href="kontakt.component.html">Kontakt</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>